body {
  background-color: rgb(46, 40, 40);
  font-family: "Roboto", sans-serif;
}

form {
  width: 40rem;
  margin: 3rem auto;
  background-color: white;
  padding: 1rem;
  border-radius: 6px;
}

h1 {
  text-align: center;
  color: white;
}

section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input,
textarea,
select {
  width: 100%;
  display: block;
  margin-bottom: 1rem;
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  padding: 0.25rem;
  font: inherit;
}

textarea {
    resize: vertical;
}

input:focus,
textarea:focus {
  border: 1px solid rgb(73, 81, 193);
  box-shadow: 0 0 5px 2px rgba(26, 37, 196, 0.5);
}

button {
  display: block;
  font: inherit;
  background-color: rgb(93, 90, 201);
  color: white;
  padding: 0.5rem 1.5rem;
  border: 1px solid black;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(131, 129, 191);
}

.form-control-inline {
  display: flex;
}

.form-control-inline input {
  width: auto;
  margin-right: 0.5rem;
}
